# Project 1 : Title

Description of the project

In [101]:
#Libraries
from __future__ import print_function, division

In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [103]:
import datetime

#### Data Download

Download and read 3 months of MTA turnstile data files

In [104]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [180505]
turnstiles_df = get_data(week_nums)

In [105]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,16:00:00,REGULAR,6599175,2236015

In [106]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [107]:
#  Deleting spaces from the column lables
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [108]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [109]:
# Three months of Data
#This is to make sure we have 3 months worth of data
turnstiles_df.DATE.value_counts().sort_index()

04/28/2018    28099
04/29/2018    28172
04/30/2018    28259
05/01/2018    28218
05/02/2018    28176
05/03/2018    28186
05/04/2018    28092
Name: DATE, dtype: int64

Let's turn this into a time series. Create a new column that stores the date and time as a single pandas datetime object.

In [110]:
from datetime import datetime as dt

In [111]:
# Take the date and time fields into a single datetime column
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")

In [112]:
turnstiles_df = turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])

In [113]:
# Get rid of the duplicate entry
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [114]:
# turnstiles_df.DESC.value_counts()

In [115]:
# turnstiles_df[turnstiles_df.DESC=="RECOVR AUD"]

In [116]:
# mask = ((turnstiles_df["C/A"] == "A022") & 
# (turnstiles_df["UNIT"] == "R022") & 
# (turnstiles_df["SCP"] == "01-00-00") )
# turnstiles_df[mask].head(100)

In [123]:
# turnstiles_df['TIME'].value_counts()

In [127]:
# Create time indicator : 1 = AM (goint to work) , 2 = PM  (going back home), 0 = out of interest
turnstiles_df["COMMUTE_INTERVAL"] = (turnstiles_df["DATE_TIME"]
                                                       .transform(lambda t: (t.hour >= 11 and
                                                                                 t.hour <= 13)+2*(t.hour >= 19 and t.hour <= 21)))

In [129]:
# turnstiles_df

In [117]:
turnstiles_df[["PREV_DATE_TIME", "PREV_ENTRIES", "PREV_EXITS"]] = (turnstiles_df
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE_TIME", "ENTRIES", "EXITS"]
                                                       .transform(lambda grp: grp.shift(1)))

KeyboardInterrupt:

In [ ]:
turnstiles_df.head()

In [67]:
# Drop the rows for the earliest date in the df
turnstiles_df.dropna(subset=["PREV_DATE_TIME"], axis=0, inplace=True)

In [68]:
turnstiles_df[turnstiles_df["ENTRIES"] < turnstiles_df["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,PREV_DATE_TIME,PREV_ENTRIES,PREV_EXITS
1427,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,04/28/2018,04:00:00,REGULAR,885937065,491512363,2018-04-28 04:00:00,2018-04-28 00:00:00,885937252.0,491512391.0
1428,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,04/28/2018,08:00:00,REGULAR,885936996,491512132,2018-04-28 08:00:00,2018-04-28 04:00:00,885937065.0,491512363.0
1429,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,04/28/2018,12:00:00,REGULAR,885936550,491511488,2018-04-28 12:00:00,2018-04-28 08:00:00,885936996.0,491512132.0
1430,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,04/28/2018,16:00:00,REGULAR,885936043,491510656,2018-04-28 16:00:00,2018-04-28 12:00:00,885936550.0,491511488.0
1431,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,04/28/2018,20:00:00,REGULAR,885935370,491509971,2018-04-28 20:00:00,2018-04-28 16:00:00,885936043.0,491510656.0

In [69]:
# Let's see how many stations have this problem

(turnstiles_df[turnstiles_df["ENTRIES"] < turnstiles_df["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size())

C/A    UNIT  SCP       STATION
A011   R080  01-00-00  57 ST-7 AV         42
A025   R023  01-03-01  34 ST-HERALD SQ    41
             01-03-02  34 ST-HERALD SQ    41
A049   R088  02-05-00  CORTLANDT ST       11
A066   R118  00-00-00  CANAL ST           41
C021   R212  00-00-02  59 ST              41
C025   R215  00-03-00  86 ST               1
D011   R394  01-06-00  BAY PKWY           39
             01-06-01  BAY PKWY           41
H003   R163  01-00-02  6 AV               41
H023   R236  00-06-00  DEKALB AV          42
             00-06-01  DEKALB AV           1
J005   R353  00-03-00  LORIMER ST          1
J034   R007  00-00-02  104 ST             41
JFK02  R535  01-00-03  HOWARD BCH JFK      1
K026   R100  00-00-01  METROPOLITAN AV    28
N063A  R011  00-00-04  42 ST-PORT AUTH    41
             00-00-05  42 ST-PORT AUTH    41
             00-00-08  42 ST-PORT AUTH    41
N078   R175  01-03-00  14 ST              41
N114   R297  01-00-03  FRANKLIN AV         1
N137   R354  00-06-01  104 ST             39
N203   R195  00-00-01  161/YANKEE STAD    41
N305   R017  01-03-04  LEXINGTON AV/53    41
N305A  R016  00-00-02  LEXINGTON AV/53     2
N327   R254  00-06-01  GRAND-NEWTOWN      40
N342   R019  01-03-02  JAMAICA 179 ST     40
N506   R022  00-05-04  34 ST-HERALD SQ    41
N508   R453  00-00-02  23 ST              41
N519A  R461  01-06-00  B'WAY-LAFAYETTE     1
                                          ..
PTH11  R545  00-00-03  14TH STREET         1
             00-04-05  14TH STREET         1
PTH17  R541  01-00-07  THIRTY THIRD ST     1
PTH18  R549  01-00-02  NEWARK BM BW        1
PTH20  R549  03-00-02  NEWARK HM HE        1
             03-00-07  NEWARK HM HE        1
             03-01-03  NEWARK HM HE        1
PTH22  R540  00-01-07  PATH NEW WTC        1
R127   R105  00-00-00  14 ST              41
R138   R293  00-03-06  34 ST-PENN STA      1
R148   R033  01-00-01  TIMES SQ-42 ST     40
R151   R033  00-00-07  TIMES SQ-42 ST      1
R161B  R452  00-00-03  72 ST              41
R210   R044  00-03-04  BROOKLYN BRIDGE     7
R227   R131  00-00-00  23 ST              41
R241A  R048  00-00-00  GRD CNTRL-42 ST    36
R243   R049  00-03-01  51 ST               1
R245   R051  00-00-00  59 ST              41
R246   R177  00-03-06  68ST-HUNTER CO      1
R258   R132  00-00-03  125 ST             41
R304   R206  00-00-00  125 ST             41
R310   R053  01-00-02  3 AV-149 ST        41
R322   R386  00-00-02  174 ST             41
R333   R366  00-00-01  225 ST              1
R418   R106  00-03-00  CASTLE HILL AV      1
R419   R326  00-00-01  ZEREGA AV           1
R518   R261  00-00-00  40 ST LOWERY ST     1
R622   R123  00-00-00  FRANKLIN AV        41
R646   R110  01-00-01  FLATBUSH AV-B.C    40
R730   R431  00-00-04  EASTCHSTER/DYRE    40
Length: 68, dtype: int64

In [75]:
def get_hourly_interval_counts(row, max_counter, column):
    counter = row[column] - row["PREV_"+column]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row[column], row["PREV_"+column])
        return 0
    return counter

# If counter is > 10k, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_df.apply(get_hourly_interval_counts, axis=1, max_counter=10000, column = "EXITS")

271 8429929.0
9 36011.0
0 163765.0
34 361593.0
36 60691.0
18 517809.0
180 150642.0
45 20741.0
14 13161.0
0 49145.0
0 280590.0
13 195090.0
33 204969.0
93 236754.0
0 5613779.0
216 660060.0
700232054 1007667891.0
697578979 700234364.0
51 2123922.0
0 108482.0
12 27788544.0
184 426248.0
34 507322.0
152 13433891.0

In [76]:
_ = turnstiles_df.apply(get_hourly_interval_counts, axis=1, max_counter=10000, column = "ENTRIES")

245 7117903.0
655599 1384722.0
0 71002.0
524305 99587.0
35 94876.0
137 1787704.0
23 12958.0
9 89094.0
1127 39423.0
29 16001.0
0 32295.0
98 14252.0
0 1323882.0
0 32316.0
45 35157.0
65 12185.0
19 300930.0
0 4533810.0
235 1517135.0
924928668 1859544808.0
387980040 924936230.0
168 4767428.0
7 119871.0
42 12537366.0
190 820013.0
17 319422.0
90 4977483.0

In [77]:
def get_hourly_interval_counts(row, max_counter, column):
    counter = row[column] - row["PREV_"+column]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row[column], row["PREV_"+column])
        counter = min(row[column], row["PREV_"+column])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 10k, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
turnstiles_df["INTERVAL_ENTRIES"] = turnstiles_df.apply(get_hourly_interval_counts, axis=1, max_counter=10000, column="ENTRIES")
turnstiles_df["INTERVAL_EXITS"] = turnstiles_df.apply(get_hourly_interval_counts, axis=1, max_counter=10000, column="EXITS")

245 7117903.0
655599 1384722.0
0 71002.0
524305 99587.0
35 94876.0
137 1787704.0
23 12958.0
9 89094.0
1127 39423.0
29 16001.0
0 32295.0
98 14252.0
0 1323882.0
0 32316.0
45 35157.0
65 12185.0
19 300930.0
0 4533810.0
235 1517135.0
924928668 1859544808.0
387980040 924936230.0
168 4767428.0
7 119871.0
42 12537366.0
190 820013.0
17 319422.0
90 4977483.0
271 8429929.0
9 36011.0
0 163765.0
34 361593.0
36 60691.0
18 517809.0
180 150642.0
45 20741.0
14 13161.0
0 49145.0
0 280590.0
13 195090.0
33 204969.0
93 236754.0
0 5613779.0
216 660060.0
700232054 1007667891.0
697578979 700234364.0
51 2123922.0
0 108482.0
12 27788544.0
184 426248.0
34 507322.0
152 13433891.0

In [78]:
turnstiles_df["COMMUTE_INTERVAL"] = (turnstiles_df["DATE_TIME"]
                                                       .transform(lambda t: (t.hour >= 10 and
                                                                                 t.hour <= 14)+2*(t.hour >= 20)))

In [79]:
turnstiles_df[turnstiles_df.COMMUTE_INTERVAL==1]["INTERVAL_ENTRIES"].max()

3006.0

In [81]:
turnstiles_df[turnstiles_df.DIVISION=="PTH"]["STATION"].unique()

array(['NEWARK HW BMEBE', 'HARRISON', 'JOURNAL SQUARE', 'GROVE STREET',
       'EXCHANGE PLACE', 'PAVONIA/NEWPORT', 'CITY / BUS',
       'CHRISTOPHER ST', '9TH STREET', '14TH STREET', 'TWENTY THIRD ST',
       'THIRTY ST', 'LACKAWANNA', 'THIRTY THIRD ST', 'NEWARK BM BW',
       'NEWARK C', 'NEWARK HM HE', 'PATH WTC 2', 'PATH NEW WTC'],
      dtype=object)

In [82]:
# turnstile_df = turnstiles_df.drop(turnstiles_df.STATION.isin[['NEWARK HW BMEBE', 'HARRISON', 'JOURNAL SQUARE', 'GROVE STREET',
#        'EXCHANGE PLACE', 'PAVONIA/NEWPORT', 'CITY / BUS',
#        'CHRISTOPHER ST', '9TH STREET', '14TH STREET', 'TWENTY THIRD ST',
#        'THIRTY ST', 'LACKAWANNA', 'THIRTY THIRD ST', 'NEWARK BM BW',
#        'NEWARK C', 'NEWARK HM HE', 'PATH WTC 2', 'PATH NEW WTC']])

newList = ['NEWARK HW BMEBE', 'HARRISON', 'JOURNAL SQUARE', 'GROVE STREET', 'EXCHANGE PLACE', 'PAVONIA/NEWPORT', 'CITY / BUS', 'LACKAWANNA', 'NEWARK BM BW',
       'NEWARK C', 'NEWARK HM HE']
new_turnstile_df = turnstiles_df[~turnstiles_df['STATION'].isin(newList)]

In [83]:
new_turnstile_df[new_turnstile_df.DIVISION=="PTH"]["STATION"].unique()

array(['CHRISTOPHER ST', '9TH STREET', '14TH STREET', 'TWENTY THIRD ST',
       'THIRTY ST', 'THIRTY THIRD ST', 'PATH WTC 2', 'PATH NEW WTC'],
      dtype=object)

In [84]:
new_turnstile_df[new_turnstile_df.COMMUTE_INTERVAL==1]["INTERVAL_ENTRIES"].max()

3006.0

In [86]:
# new_turnstile_df.loc[new_turnstile_df.INTERVAL_ENTRIES==3006]

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns
# sns.set()

# %matplotlib inline

In [90]:
# first get entries and exits by station
stations_Interval_Entries = \
(new_turnstile_df[new_turnstile_df["COMMUTE_INTERVAL"] == 1].groupby(['STATION'])['INTERVAL_ENTRIES'].mean()
                 .reset_index()).sort_values(by="INTERVAL_ENTRIES", ascending=False)  

stations_Interval_Exits = \
(new_turnstile_df[new_turnstile_df["COMMUTE_INTERVAL"] == 2].groupby(['STATION'])['INTERVAL_EXITS'].mean()
                 .reset_index()).sort_values(by="INTERVAL_EXITS", ascending=False) 


stations_Interval_Entries.describe()

       INTERVAL_ENTRIES
count        363.000000
mean         248.374014
std          166.118080
min            2.971429
25%          134.684848
50%          207.220077
75%          345.320489
max         1485.821429

In [91]:
stations_Interval_Entries.head()

             STATION  INTERVAL_ENTRIES
121  ASTORIA DITMARS       1485.821429
120     ASTORIA BLVD        930.448980
272      MONTROSE AV        784.571429
161         BROADWAY        735.937500
187     CORTELYOU RD        720.761905

In [92]:
stations_Interval_Exits.describe()

       INTERVAL_EXITS
count      363.000000
mean       230.672886
std        155.541882
min          0.000000
25%        118.292857
50%        196.142857
75%        304.785714
max        939.670330

In [93]:
stations_Interval_Exits.head()

             STATION  INTERVAL_EXITS
146       BEDFORD AV      939.670330
121  ASTORIA DITMARS      833.892857
120     ASTORIA BLVD      742.877551
290    NEWKIRK PLAZA      718.057143
0               1 AV      669.685714

In [ ]:
stations_Interval_Entries = \
(new_turnstile_df.groupby(['STATION'])['INTERVAL_ENTRIES'].mean()
                 .reset_index()).sort_values(by="INTERVAL_ENTRIES", ascending=False)  

stations_Interval_Exits = \
(new_turnstile_df.groupby(['STATION'])['INTERVAL_EXITS'].mean()
                 .reset_index()).sort_values(by="INTERVAL_EXITS", ascending=False)

In [ ]:
sns.distplot(new_turnstile_df['INTERVAL_ENTRIES']
             [new_turnstile_df['INTERVAL_ENTRIES'] < 10000])

In [ ]:
sns.distplot(new_turnstile_df['INTERVAL_EXITS']
             [new_turnstile_df['INTERVAL_EXITS'] < 10000])

In [ ]:
# then get top 10 stations by daily volume 
# (sum across all days is a reasonable way to define this)
top10_stations = \
    (stations_daily.groupby(['STATION'])['DAILY_ENTRIES'].sum()
                   .reset_index()
                   .sort_values(by='DAILY_ENTRIES',ascending=False) 
                   .STATION.head(10))

top10_stations

In [ ]:
# next create a new df that filters the stations daily data down
# to the top 10 stations
stations_daily_top10 = \
    stations_daily[stations_daily['STATION'].isin(top10_stations)]

In [ ]:
# use seaborn to create a boxplot by station
sns.boxplot('DAILY_ENTRIES', 'STATION', data=stations_daily_top10)